<!doctype html>
<html>
    <head>
    </head>
    <body>
        <h1>New catalog</h1>

        <form id="form" [formGroup]="newcatalogForm">

            <p>
                <label>Catalog name: </label>
                <input formControlName="catalog_name" id="catalogName" type="text"/>
            </p>
            <p>
                <label>Catalog id: </label>
                <input formControlName="catalog_id" id="catalogId" type="text"/>
            </p>
            <p>
                <label>Availability: </label>
                <input formControlName="availability" id="availabilityy" type="checkbox"/>
            </p>
        
            <p>
                <label>Catalog price: </label>
                <input formControlName="catalog_price" id="catalogPrice" type="text"/>
            </p>
        
            <button [disabled]="newcatalogForm.invalid" (click) = createCatalog() type="submit">Create catalog</button>
        
                
        </form>
    </body>
</html>