.new{
    margin-left: auto;
    display: block;
    margin-top: 25px;
}

.block{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.right{
    margin-left: 35px;
}

label{
    margin-right: 10px;
}