<!doctype html>
<html>
    <head>

    </head>
    <body>
        <div>
            <button class="new">
                <a href="http://localhost:4200/new_product">Add new product</a>
            </button>
        </div>
        <div>
            <div class="block">
                <!-- <label>Enter id: </label> -->
                <input class="data" type="text" placeholder="Enter product id"/>
            </div>
            <div class="block">
                <button class="left">
                    <a href="http://localhost:4200/update_product">Update</a>
                </button>
                <button class="right">Delete</button>
            </div>
        </div>
    </body>
</html>
