<!doctype html>
<html ng-client-landing="App">
    <head>
    </head>
    <body>
        <div class="header">
            <p>Welcome <span>Jon</span></p>
            <!-- <span>{{user.name}}</span> -->
            <button class="boton">Log out</button>
        </div>
        <div class="references">
            <ul>
                <li>
                    <a href="http://localhost:4200/client_catalog" target="_self">Catalogs</a>
                </li>
                <li>
                    <a href="http://localhost:4200/client_product" tager="_self">Products</a>
                </li>
                <li>
                    <a href="http://localhost:4200/client_search" target="_self">Search</a>
                </li>
            </ul>
        </div>    
        
    </body>

</html>



