<!doctype html>
<html>
    <head>
    </head>
    <body>
        <h1>Update catalog</h1>

        <form id="form" [formGroup]="updatecatalogForm">

            <p>
                <label>Catalog name: </label>
                <input formControlName="catalog_name" type="text"/>
            </p>
            <p>
                <label>Catalog id: </label>
                <input formControlName="catalog_id" type="text"/>
            </p>
            <p>
                <label>Availability: </label>
                <input formControlName="availability" type="checkbox"/>
            </p>
        
            <p>
                <label>Catalog price: </label>
                <input formControlName="catalog_price" type="text"/>
            </p>
        
            <button [disabled]="updatecatalogForm.invalid" type="submit">Update</button>
        
                
        </form>
    </body>
</html>